<div class="placeholder">
  <p class="placeholder__text">Hey! You haven't any bounding boxes yet. Why not start using the map on the right for drawing some beautiful boxes? <i class="fa fa-smile-o"></i></p>
</div>
