<p class="bounding-box__name">
  <span>{{name}}</span>
  <a href="#" class="js-edit-name bounding-box__name__action"><i class="fa fa-pencil"></i></a>
  <a href="#" class="js-remove bounding-box__name__action"><i class="fa fa-trash-o"></i></a>
</p>
