<div class="sidebar__section__header">
  <h2 class="sidebar__section__title">Bounding Boxes</h2>

  <a class="text-button js-download" href="#">
    <i class="fa fa-download"></i>
    <span>Download</span>
  </a>

</div>

<ul class="js-bounding-boxes"></ul>
