<div class="bounding-box__actions">
   <div class="bounding-box__actions__item">
     <i class="fa fa-trash-o js-remove"></i> 
   </div>
</div>
<div class="bounding-box__information">
  <div class="js-name-wrapper"></div>
  <p class="bounding-box__coordinates">
    <i class="fa fa-twitter bounding-box__coordinates__icon icon--twitter"></i>
    {{southWestLongitude}},{{southWestLatitude}},{{northEastLongitude}},{{northEastLatitude}}
  </p>
</div>
