<div>
  <p class="sidebar__section__actions">
    <a href="#" class="js-download button">Download</a>
    <a href="#" class="js-back button">Go back</a>
  </p>
</div>

<div class="js-bounding-boxes">
</div>
