<div class="js-name-wrapper"></div>
<p class="bounding-box__coordinates">
  <i class="fa fa-twitter"></i> {{southWestLongitude}},{{southWestLatitude}},{{northEastLongitude}},{{northEastLatitude}}
</p>
