<div class="js-name-wrapper"></div>
<p class="bounding-box__coordinates">South West: {{southWestLatitude}}, {{southWestLongitude}}</p>
<p class="bounding-box__coordinates">North East: {{northEastLatitude}}, {{northEastLongitude}}</p>
