<div>
  <input type="text" class="js-name-input bounding-box__input" value="{{ name }}">
  <a href="#" class="js-save-name bounding-box__name__action button"><i class="button__icon fa fa-save"></i></a>
</div>
