<div class="js-name-wrapper"></div>
<p class="bounding-box__coordinates">
  <i class="fa fa-twitter bounding-box__coordinates__icon bounding-box__coordinates__icon--twitter"></i>
  {{southWestLongitude}},{{southWestLatitude}},{{northEastLongitude}},{{northEastLatitude}}
</p>
