<div class="sidebar__section__header">
  <h2 class="sidebar__section__title">Bounding Boxes</h2>

  <div class="sidebar__section__actions js-actions">
    <a class="text-button js-download" href="#">
      <i class="fa fa-code"></i>
      <span>View JSON</span>
    </a>
    <a class="text-button js-back" href="#">
      <i class="fa fa-th-list"></i>
      <span>Back to list</span>
    </a>
  </div>
</div>

<div class="js-bounding-boxes">
</div>
