<header>
  <h1 class="sidebar__title">b2pick</h1>
  <p class="sidebar__subtitle">Picking Bouding Boxes in an easy manner</p>
</header>
<section class="sidebar__section">
  <div class="js-bounding-box-collection"></div>
</section>
