.bounding-box {
  padding: 10px 0;
}

.bounding-box__input {
  @include font-bold;

  font-size: 16px;
}

.bounding-box__name {
  @include font-bold;

  margin-bottom: 10px;
}

.bounding-box__name__action {
  float: right;
  font-size: 16px;

  color: $black;
}

.bounding-box__coordinates {
  @include font-light;

  margin-top: 5px;
}

.bounding-box__coordinates__icon {
  margin-right: 3px;

  &--twitter {
    color: $twitter;
  }
}
