.bounding-box {
  display: table;
  margin-bottom: 20px;
  table-layout: fixed;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.bounding-box__actions,
.bounding-box__information {
  display: table-cell;
  vertical-align: middle;
}

.bounding-box__actions {
  text-align: center;
  width: 15%;
}

.bounding-box__actions__item {
  cursor: pointer;
}

.bounding-box__input {
  @include font-bold;

  font-size: 16px;
}

.bounding-box__name {
  @include font-bold;

  margin-bottom: 10px;
}

.bounding-box__coordinates {
  @include font-light;

  margin-top: 5px;
}

.bounding-box__coordinates__icon {
  margin-right: 3px;
}
