.button {
  @include font-bold;

  display: inline-block;
  border: 3px $black solid;
  padding: 10px 0;
  width: 200px;

  color: $black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: $black;
  color: $white;
}

.button--hidden {
  display: none;
}
