.sidebar__title {
  font-size: 48px;
  margin: 30px 0 5px;
}

.sidebar__subtitle {
  font-style: italic;
  margin-bottom: 30px;
}

.sidebar__section__title {
  font-size: 24px;
  text-transform: uppercase;
}
