.sidebar {
  padding: 0 10px;
}

.sidebar__title {
  @include font-light;

  font-size: 48px;
  margin: 30px 0 5px;
}

.sidebar__subtitle {
  @include font-light;

  margin-bottom: 30px;
}

.sidebar__section__header {
  display: inline-table;
  table-layout: fixed;
  width: 100%;
}

%sidebar-section-cell {
  display: table-cell;
  width: 50%;
}

.sidebar__section__title {
  @extend %sidebar-section-cell;

  @include font-regular;

  font-size: 24px;
}

.sidebar__section__actions {
  @extend %sidebar-section-cell;

  text-align: right;
}
